{% extends 'base.html' %}

{% block wheader %}
<header id="header" class="alt style2">
    <a href="index" class="logo"><strong>DAG-based</strong><span>Distributed Ledger Platform</span></a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>
{% endblock %}

{% block banner%}
<section id="banner" class="style2">
    <div class="inner">
        <span class="image">
            <img src="../static/images/pic07.jpg" alt="" />
        </span>
        <header class="major">
            <h1>Download</h1>
        </header>
        <div class="content">
            <p>List of files related to energy platform</p>
        </div>
    </div>
</section>
{% endblock %}
{% block main %}
<div id="main" class="alt">

	<!-- One -->
		<section id="one">
			<div class="inner">

				<p>
					{% if myval %}
					<header class="major">
						<h1>Upload Success!</h1>
					</header>

					<ul>
						{% for val in myval %}
						 <li><a href="{{ url_for('front.ftp_static', filename=val) }}"> {{ val }} </a>  </li>
						 {% endfor %}
					</ul>
						 {% endif %}


					 {% if paths %}
					 <header class="major">
						<h2>Ledger</h2>
					</header>

					 <ul>
						 {% for path, file in paths %}
						  <li><a href="{{ url_for('front.ftp_static', filename=path) }}"> {{ file }} </a>  </li>
						  {% endfor %}
					 </ul>
					  {% endif %}


				</p>
			</div>
		</section>

</div>
{% endblock %}